[package]
name = "hyperqueue"
version = "0.2.1"
authors = ["Stanislav Bohm <spirali@kreatrix.org>"]
edition = "2018"
description = "Job execution system"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
log = "0.4"
env_logger = "0.8"
futures = "0.3"
tokio = { version = "1.7", features = ["full"] }
tokio-util = { version = "0.6", features = ["codec"] }
clap = "3.0.0-beta.2"
ctrlc = "3"
jemallocator = "0.3.2"
rmp-serde = "0.15.4"
rmpv = { version = "0.4", features = ["with-serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.64"
serde_bytes = "0.11"
serde-tuple-vec-map = "1"
bytes = "1.0.1"
atty = "0.2"
cli-table = "0.4.6"
hashbrown = { version = "0.11", features = ["serde"] }
thiserror = "1"
anyhow = "1"
dirs = "3.0.1"
gethostname = "0.2.1"
chrono = { version = "0.4.19", features = ["serde"] }
orion = "0.16.0"
hex = "0.4.3"
# tako = { path = "../tako" }
tako = { git = "https://github.com/spirali/tako", branch = "main" }
tempdir = "0.3.7"
humantime = "2.1.0"
num_cpus = "1.13.0"
bincode = "1.3.3"
nom = "6.2"
bstr = { version = "0.2", features = ["serde1"] }
colored = "2"
