[workspace]
members = [
    "crates/hyperqueue",
    "crates/tako",
    "crates/pyhq"
]
default-members = [
    "crates/hyperqueue",
    "crates/tako"
]

[profile.dev]
panic = "abort"

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
panic = "abort"
strip = "debuginfo"
