exclude = [
    ".git",
    ".git-rewrite",
    ".ipynb_checkpoints",
    ".pytest_cache",
    ".ruff_cache",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "target",
]
include = [
    "benchmarks/**/*.py",
    "crates/pyhq/python/**/*.py",
    "crates/pyhq/pyproject.toml",
    "scripts/**/*.py",
    "tests/**/*.py",
]

line-length = 120
indent-width = 4

target-version = "py37"

[lint]
select = ["E4", "E7", "E9", "F"]
ignore = ["E203"]
