pytest==7.1.2
pytest-xdist==2.5.0
flake8==4.0.1
black==23.7.0
isort==5.10.1
iso8601==1.0.2
schema==0.7.5
maturin==1.3.0
psutil==5.8.0
jinja2==3.0.3
requests==2.31.0
aiohttp==3.8.5
inline-snapshot==0.2.1
