[package]
name = "hyperqueue"
version = "0.10.0"
authors = ["Stanislav Bohm <spirali@kreatrix.org>", "Jakub Beranek <berykubik@gmail.com>"]
edition = "2021"
description = "Job execution system"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4"
env_logger = "0.9"
futures = "0.3"
tokio = { version = "1.17", features = ["full"] }
tokio-util = { version = "0.7", features = ["codec"] }
clap = { version = "3.0", features = ["derive", "env"] }
clap_complete = "3.0.2"
rmp-serde = "1.0.0"
rmpv = { version = "1.0", features = ["with-serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.64"
serde_bytes = "0.11"
serde-tuple-vec-map = "1"
bytes = "1.0.1"
atty = "0.2"
cli-table = { version = "0.4.6", default-features = false }
thiserror = "1"
anyhow = "1"
dirs = "4.0"
gethostname = "0.2.1"
chrono = { version = "0.4.19", features = ["serde"] }
orion = "0.17.0"
hex = "0.4.3"
tempdir = "0.3.7"
humantime = "2.1.0"
num_cpus = "1.13.0"
bincode = "1.3.3"
nom = "7.1"
nom-supreme = { version = "0.8.0"}
bstr = { version = "0.2", features = ["serde1"] }
colored = "2"
byteorder = "1.4"
smallvec = "1.6.1"
const_format = "0.2"
tui = { version = "0.17.0", default-features = false, features = ["termion"] }
termion = "1.5"
indicatif = "0.16.2"
textwrap = "0.15"
async-compression = { version = "0.3.8", features = ["tokio", "gzip"] }
flate2 = { version = "1.0.23", features = ["default"] }
psutil = "3.2.1"
rand = { version = "0.8", features = ["small_rng"] }


# Tako
tako = { path = "../tako" }

# Optional dependencies
jemallocator = { version = "0.5", optional = true }

[dev-dependencies]
derive_builder = "0.11"

[features]
default = ["jemalloc"]
# Mode that does not execute tasks, useful for benchmarking HQ overhead
zero-worker = []
# Use the jemalloc allocator
jemalloc = ["jemallocator"]
