mkdocs==1.2.4
mkdocs-material==7.3.2
mkdocs-minify-plugin==0.5.0
mkdocs-git-revision-date-localized-plugin==0.10.0
mkdocs-gen-files==0.5.0
mike==1.1.2
requests==2.31.0
jinja2==3.1.4
nedoc @ git+https://github.com/spirali/nedoc@6994f657be3c110a4b3be6df99682206e1b1181e
mkdocs-nedoc-plugin @ git+https://github.com/kobzol/mkdocs-nedoc-plugin@7c5ecc3b8a975886c02779d4f9c013882a0ab6a8
