#!{{ python }}

"""
This is a Jinja template with a Python program that intercepts command-line arguments and sends
them as a POST request to a localhost server at the specified `port`. It then reacts accordingly
based on the response, either print something to stdout or exit with the specified exit code.

The template has to be rendered first, and provided with the path to Python and a port where should
the arguments be sent.
"""
import os.path
import sys

import requests

PORT = {{ port }}
KEY = "{{ key }}"

arguments = sys.argv

program = os.path.basename(arguments[0])
response = requests.post(f"http://localhost:{PORT}/{program}", json={
    "arguments": arguments[1:],
    "cwd": os.getcwd(),
}, headers={"HQ_TEST_KEY": KEY}).json()

print(response["stdout"], flush=True)
print(response["stderr"], file=sys.stderr, flush=True)
exit(response["code"])
