[package]
name = "tako"
version = "0.1.0"
authors = ["Stanislav Bohm <spirali@kreatrix.org>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3"
tokio = { version= "1.15", features = ["full"] }
tokio-util = { version = "0.6", features = ["codec"] }
bytes = "1.0"
byteorder = "1.4"
smallvec = { version = "1.6", features = ["serde"] }
rmp-serde = "0.15.4"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
serde_json = "1.0"
thiserror = "1"
rand = { version = "0.8", features = ["small_rng"] }
hashbrown = { version = "0.11", features = ["serde", "inline-more"], default-features = false }
gethostname = "0.2"
log = "0.4"
tracing = "0.1"
tracing-subscriber = "0.2"
priority-queue = "1.0"
bitflags = "1.2"
orion = "0.17.0"
hex = "0.4"
bincode = "1.3.3"
bstr = { version = "0.2", features = ["serde1"] }
psutil = "3.2.1"
fxhash = "0.2.1"

[dev-dependencies]
derive_builder = "0.10.2"
anyhow = "1"
env_logger = "0.9"
tempdir = "0.3"
criterion = { version = "0.3", features = ["html_reports"] }

[[bench]]
name = "benchmark"
harness = false

# Workaround for Criterion (https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options)
[lib]
bench = false
