[package]
name = "tako"
version = "0.1.0"
authors = ["Stanislav Bohm <spirali@kreatrix.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
futures = "0.3"
tokio = { version= "1.7", features = ["full"] }
tokio-util = { version = "0.6", features = ["codec"] }
bytes = "1.0"
byteorder = "1.4"
smallvec = { version = "1.0", features = ["serde"] }
rmp-serde = "0.15.4"
rmpv = { version = "0.4", features = ["with-serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11"
serde-tuple-vec-map = "1"
serde_json = "1.0"
thiserror = "1"
rand = { version = "0.8", features = ["small_rng"] }
jemallocator = "0.3.2"
hashbrown = { version = "0.11", features = ["serde"] }
ctrlc = "3"
clap = "3.0.0-beta.2"
gethostname = "0.2"
log = "0.4"
env_logger = "0.8"
tracing = "0.1"
tracing-subscriber = "0.2"
priority-queue = "1.0"
bitflags = "1.2"
tempdir = "0.3"
orion = "0.16.0"
hex = "0.4"
bincode = "1.3.3"
bstr = { version = "0.2", features = ["serde1"] }

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
panic = "abort"

[profile.dev]
panic = "abort"
