name: Deploy documentation

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

concurrency: docs

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Download all git history to enable git revision history display in docs pages
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r docs/requirements.txt
      - name: Build docs
        run: mkdocs build --strict
      - name: Set Git CI config
        run: |
          git config user.name gh-ci-deploy-docs
          git config user.email gh-ci-deploy-docs@github.com
      - name: Calculate docs version
        run: |
          python3 scripts/get_docs_version.py > version.json
          cat version.json
          echo "VERSION=$(cat version.json)" >> $GITHUB_ENV
      - name: Deploy latest docs
        if: fromJson(env.VERSION).type == 'latest'
        run: mike deploy --push latest
      - name: Deploy stable docs
        if: fromJson(env.VERSION).type == 'stable'
        run: mike deploy --push -u --no-redirect ${{ fromJson(env.VERSION).version }} stable
